<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sam.moviebox.test">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name="com.example.sam.moviebox.views.activities.SingleFragmentActivity"/>
    </application>

</manifest>